@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');
*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color:#242624;
}

.slanted{
	position:relative;
	width:100%;
	height:80px;
	background-color:#F5F5F5;
}

.slanted:after{
	position:absolute;
	width:100%;
	height:100%;
	content:'';
	background:inherit;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:-1;
	transform-origin:left;
	transform:skewY(1deg);
}

nav{
	width:40%;
	margin:0 auto;
	text-align:center;
	padding-top:20px;
}

nav li{
	display:inline-block;
	margin-left:80px;
	font-size:20px;
}

nav li:hover{
	cursor:pointer;
	font-weight:bold;
}

li a{
	color:#242624;
	text-decoration:none;
}

nav li:nth-last-child(4){
	display:inline-block;
	margin-left:0px;
	font-size:20px;
}

main{
	width:100%;
	text-align:center;
	padding-top:150px;
}

main h1{
	color:#F5F5F5;
	font-size:60px;
}

main h1 span{
	color:#2ecc71;
}


section{
	width:100%;
	text-align:center;
}

#paragraaf{
	padding-top:30px;
	margin:0 auto;
	width:55%;
}

#paragraaf p{
	color:#F5F5F5;
	font-size:25px;
}

#paragraaf p span{
	color:#2ecc71;
}

#text-container{
	padding-top:150px;
	width:45%;
	margin:0 auto;
}

.text-styling{
	color:#F5F5F5;
	font-size:20px;
}

#locatie{
	display:inline-block;
}

#e-mail{
	float:right;
	display:inline-block;
}
footer{
	width:100%;
}